.wp-block-research-amp-search-form {
	display: flex;
	flex-direction: column;
	gap: 24px;

	& > div {
		max-width: 758px;
	}

	.search-form-label {
		font-weight: 700;
	}

	.search-type-container-label {
		font-weight: 700;
	}

	.search-input {
		width: 100%;
	}

	.search-form-top {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@media screen and (max-width: 600px) {
			gap: 12px;
		}
	}

	.search-form-bottom {
		align-items: center;
		display: flex;
		gap: 24px;

		@media screen and (max-width: 600px) {
			align-items: flex-start;
			flex-direction: column;
			gap: 12px;
		}

		.search-type-container-label {
			font-weight: 700;
			white-space: nowrap;
		}

		button {
			white-space: nowrap;
		}

		& > * {
			flex: 0;
		}

		& > .search-type-select-container {
			flex: 1;
			@media screen and (max-width: 600px) {
				width: 100%;
			}
		}
	}
}
