.item-type-list-research-topics {
	@media screen and (max-width: 600px) {
		/* Prevents overflow-y due to 100% height hack */
		padding-bottom: 48px;

		& > li {
			padding-top: 0;
		}
	}

	h3 {
		margin-top: 0;
	}

	&.research-topic-teasers-grid {
		li article {
			background: var(--ramp-light-grey);
			padding: 24px;
			height: 100%;
		}
	}

	&.research-topic-teasers-list {
		li {
			margin-bottom: 0;
			padding: 24px 0;

			@media screen and (max-width: 600px) {
				margin-bottom: 24px;
			}
		}

		article {
			align-items: flex-start;
			display: flex;
			gap: 28px;

			@media screen and (max-width: 600px) {
				flex-direction: column;
			}
		}

		.research-topic-teaser-image {
			flex: 0 0 534px;
			height: 356px;
			line-height: 0;

			@media screen and (max-width: 600px) {
				background-size: cover;
				flex-basis: 0;
				width: 100%;
			}

			&::after {
				@media screen and (max-width: 600px) {
					display: block;
					content: '';
					padding-top: 66.66%;
				}
			}
		}

		.research-topic-item-excerpt {
			margin-bottom: 24px;
		}
	}
}

body.post-type-archive-ramp_topic {
	.item-type-list-research-topics {
		@media screen and (max-width: 600px) {
			padding-bottom: 0;
		}
	}
}
