.item-type-list-research-topics {
	h3 {
		margin-top: 0;
	}

	&.research-topic-teasers-grid {
		li article {
			background: var(--ramp-light-grey);
			padding: 24px;
			height: 100%;
		}
	}

	&.research-topic-teasers-list {
		li {
			margin-bottom: 0;
			padding: 24px 0;
		}

		article {
			align-items: flex-start;
			display: flex;
			gap: 28px;
		}

		.research-topic-teaser-image {
			flex: 0 0 534px;
			height: 356px;
		}

		.research-topic-item-excerpt {
			margin-bottom: 24px;
		}
	}
}
