.item-type-list-research-topics {
	li {
		background: var(--ramp-light-grey);
		padding: 24px;
	}

	h3 {
		margin-top: 0;
	}

	.item-excerpt {
		font-size: var(--wp--preset--font-size--small-text);
		line-height: 1.6rem;
	}
}
