.article-teasers {
	display: flex;
	gap: 28px;
}

.article-teasers > div {
	flex: 0 0 50%;
}

.non-featured-article-teasers {
	&.item-type-list-flex {
		flex-direction: column;

		.teaser {
			flex-direction: row;
			display: flex;
			gap: 28px;
			margin-bottom: 28px;
		}
	}

	.teaser-thumb {
		flex: 0 0 40%;
	}
}

