.article-teasers {
	display: flex;
	gap: 28px;
}

.article-teasers h3 {
	margin-top: 0;
}

.article-teasers > div {
	flex: 0 0 50%;
}

.non-featured-article-teasers {
	&.item-type-list-flex {
		li {
			border-bottom: 1px solid var(--wp--preset--color--medium-grey);
			padding: 32px 0;
		}

		li:first-child {
			padding-top: 0;
		}

		li:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}

		.teaser {
			flex-direction: row;
			display: flex;
			gap: 28px;
		}
	}

	.teaser-thumb {
		flex: 0 0 40%;
	}
}

