.wp-block-research-amp-table-of-contents {
	div#ez-toc-container {
		background: none;
		border: none;
		padding: 0;

		a {
			color: var( --wp--preset--color--almost-black );
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			list-style: none;
		}

		ul li {
			font-size: var( --wp--preset--font-size--body-text );
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		li ul {
			margin-top: 1em;
		}

		.ez-toc-list-level-1 {
			padding-left: 0;
		}

		ul ul {
			padding-left: 0;
			margin-left: 1.5em;
		}
	}

	.ez-toc-heading-level-2 {
		font-weight: 700;
		text-decoration: underline;
	}

	.ez-toc-heading-level-3 {
		font-weight: normal;
	}
}
