.item-type-list-research-reviews {
	&.research-reviews-grid {
		h3 {
			font-size: var(--wp--preset--font-size--h-4);
		}
	}

	&.research-reviews-list {
		h3 {
			margin-top: 0;
		}
	}
}

.item-type-list-research-reviews.item-type-list-flex {
	.item-excerpt {
		display: none;
	}
}
