.item-type-list-research-reviews {
	&.research-reviews-grid {
		h3 {
			font-size: var(--wp--preset--font-size--h-4);
			margin-top: 12px;
		}
	}

	&.research-reviews-list {
		h3 {
			margin-top: 0;
		}
	}

	@media screen and (max-width: 600px) {
		.teaser {
			flex-direction: column;
		}
	}
}

.item-type-list-research-reviews.item-type-list-flex {
	.item-excerpt {
		display: none;
	}
}
