@import './block.scss';

.ginger-interests-block {
	h2 {
		opacity: .5;
	}

	&.interests-has-content {
		h2 {
			opacity: 1;
		}
	}
}

.editor-styles-wrapper {
	ul.interest-tags {
		list-style-type: none;
		padding: 0;
	}
}
