.wp-block-ramp-review-version-selector {
	background: var(--wp--preset--color--ramp-green);
	color: #fff;

	&.is-latest-version {
		background: transparent;
		color: inherit;

		h3.sidebar-section-title {
			color: var(--wp--preset--color--ramp-green);
		}
	}

	h3.sidebar-section-title {
		color: var(--wp--preset--color--white);
		line-height: 51px;
		margin-bottom: 0;
	}

	.version-selector {
		display: flex;
		justify-content: space-between;
	}

	select {
		flex-basis: 30%;
	}

	.version-selector-out-of-date-notice {
		p {
			font-weight: 700;
		}

		a {
			color: #fff;
			font-weight: normal;
		}
	}
}
