.homepage-slider .glide__track,
.homepage-slider .glide__slides {
	z-index: 1;
}

.homepage-slide {
	display: flex;
	gap: 32px;
	position: relative;
}

.homepage-slide h2 {
	margin-bottom: 8px;
	margin-top: 8px;
}

.homepage-slide-left {
	display: flex;
	flex-direction: column;
	flex: 0 0 50%;
	justify-content: center;
	position: relative;
	z-index: 3;
}

.homepage-slide-img {
	height: 430px;
	max-width: 100%;
	object-fit: cover;
}

.homepage-slide-right {
	padding-top: 48px;
	margin-bottom: 48px;
	z-index: 3;
}

.homepage-slide-meta-text {
	text-transform: uppercase;
}

.homepage-slide-text {
	margin-bottom: 24px;
}

.homepage-slider-bullets-mobile {
	display: none;
}

.homepage-slider-bullets {
	bottom: 0;
	position: absolute;
	left: auto;
	right: 0;
	text-align: right;
}

.homepage-slider-bullets .glide__bullets {
	bottom: auto;
	left: auto;
	position: relative;
	transform: none;
}

.homepage-slider-bullets .glide__bullet {
	background: transparent;
	border: none;
	border-bottom: 3px solid transparent;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	font-weight: 800;
	margin-left: 8px;
	padding: 0 3px 12px 2px; /* Mismatched sides are a glitch of the font kerning */
	text-align: center;
	text-decoration: none;
	width: auto;
}

.homepage-slider-bullets .glide__bullet:focus,
.homepage-slider-bullets .glide__bullet:hover {
	border: inherit;
	background: transparent;
}

.homepage-slider-bullets .glide__bullet.glide__bullet--active {
	border-color: inherit;
}

.homepage-slider-bullets .glide__bullet.glide__bullet--active:hover {
	border-color: transparent;
}

