/** Lists */
.item-type-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item-type-list-flex {
	display: flex;
	gap: 28px;
}

.item-type-list-flex > li {
	flex: 1 0 0;
}

/** Teasers */
.teaser {
	display: flex;
	gap: 16px;
}

.teaser-thumb img {
	max-width: 100%;
}

.article-type-tag {
	font-weight: 700;
	text-transform: uppercase;
}

.teaser.featured-article-teaser {
	flex-direction: column;
}

.research-review-teaser-thumb {
	flex: 0 0 30%;
}
