/** Shared vars */
:root {
	--ramp-light-grey: #eee;
}

/** Lists */
.item-type-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item-type-list > li {
	margin-bottom: 16px;
}

.item-type-list > li:last-child {
	margin-bottom: 0;
}

.item-type-list-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
}

.item-type-list-flex > li {
	flex: 1 0 0;
	margin-bottom: 0;
}

.item-type-list-3 > li {
	flex: 0 1 30%;
}

.item-type-list-wrap {
	flex-wrap: wrap;
}

.item-type-list-flex > li.break-row {
	flex: 0 0 0;
	flex-basis: 100%;
	height: 0;
}

/** Buttons, tags, etc */
.ramp-header-tag {
	font-size: .9em;
	font-weight: 700;
	text-transform: uppercase;
}

.tag-plain {
	color: var(--wp--preset--color--ramp-green);
	font-size: var(--wp--preset--font-size--body-text);
	font-weight: 700;
	text-transform: uppercase;
}

.tag-bubble {
	background: var(--wp--preset--color--ramp-blue);
	border-radius: 1em;
	color: #fff;
	padding: 6px 16px;
	white-space: nowrap;
}

.research-topic-tags a {
	display: inline-block;
	margin-right: 8px;
	text-decoration: none;
}

/** Teasers */
.teaser {
	display: flex;
	gap: 16px;
}

.item-type-list-flex .teaser {
	flex-direction: column;
	height: 100%;
}

.teaser-thumb img {
	max-width: 100%;
}

.item-type-tag {
	font-weight: 700;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.teaser.featured-article-teaser {
	flex-direction: column;
}

.research-review-teaser-thumb {
	flex: 0 0 30%;
}

/* Profiles */
.profile-teaser-avatar {
	background-size: cover;
	border-radius: 50%;
	overflow: hidden;
	height: 196px;
	width: 196px;
}

.profile-teaser-avatar > img {
	object-fit: cover;
	width: 196px;
}
