/** Shared vars */
:root {
	--ramp-light-grey: #eee;
}

/** Lists */
.item-type-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.item-type-list > li {
	margin-bottom: 16px;
}

.item-type-list > li:last-child {
	margin-bottom: 0;
}

.item-type-list-flex {
	display: grid;
	gap: 0;
	position: relative;
}

.item-type-list-flex > li {
	margin-bottom: 0;
	padding: 32px 9.333px;
}

.item-type-list-3 {
	grid-template-columns: repeat( 3, 1fr );
}

.item-type-list-3.has-row-rules > li {
	border-bottom: 1px solid var(--wp--preset--color--medium-grey);
	padding-bottom: 48px;
	padding-top: 48px;
}

.item-type-list-flex.item-type-list-3 > li:nth-child( 3n + 1 ) {
	padding-left: 0;
	padding-right: 18.666px;
}

.item-type-list-flex.item-type-list-3 > li:nth-child( 3n ) {
	padding-left: 18.666px;
	padding-right: 0;
}

.item-type-list-flex.item-type-list-3 > li:nth-child( 1 ),
.item-type-list-flex.item-type-list-3 > li:nth-child( 2 ),
.item-type-list-flex.item-type-list-3 > li:nth-child( 3 ) {
	padding-top: 0;
}

.item-type-list-flex.has-no-row-rules.item-type-list-3 > li:nth-last-child( 1 ),
.item-type-list-flex.has-no-row-rules.item-type-list-3 > li:nth-last-child( 2 ),
.item-type-list-flex.has-no-row-rules.item-type-list-3 > li:nth-last-child( 3 ) {
	padding-bottom: 0;
}

.item-type-list-4.has-row-rules > li {
	border-bottom: 1px solid var(--wp--preset--color--medium-grey);
	padding-bottom: 48px;
	padding-top: 48px;
}

.item-type-list-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-type-list-flex.item-type-list-4 > li:nth-child( 4n + 1 ) {
	padding-left: 0;
}

.item-type-list-flex.item-type-list-4 > li:nth-child( 4n ) {
	padding-right: 0;
}

.item-type-list-flex.item-type-list-4 > li:nth-child( 1 ),
.item-type-list-flex.item-type-list-4 > li:nth-child( 2 ),
.item-type-list-flex.item-type-list-4 > li:nth-child( 3 ),
.item-type-list-flex.item-type-list-4 > li:nth-child( 4 ) {
	padding-top: 0;
}

.item-type-list-flex.has-no-row-rules.item-type-list-4 > li:nth-last-child( 1 ),
.item-type-list-flex.has-no-row-rules.item-type-list-4 > li:nth-last-child( 2 ),
.item-type-list-flex.has-no-row-rules.item-type-list-4 > li:nth-last-child( 3 ),
.item-type-list-flex.has-no-row-rules.item-type-list-4 > li:nth-last-child( 4 ) {
	padding-bottom: 0;
}

.teaser-byline {
	margin-top: 16px;
}

/** Buttons, tags, etc */
.editor-styles-wrapper a.wp-block-button__link {
	color: var(--wp--preset--color--white);
	text-decoration: none;
}

.ramp-header-tag {
	font-size: .9em;
	font-weight: 700;
	text-transform: uppercase;
}

.ramp-tag {
	display: inline-block;
	width: fit-content;
}

.tag-plain,
.editor-styles-wrapper a.tag-plain { /* specificity required in editor */
	color: var(--wp--preset--color--ramp-green);
	font-size: var(--wp--preset--font-size--body-text);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.tag-bubble,
.editor-styles-wrapper a.tag-bubble {
	background: var(--wp--preset--color--ramp-blue);
	border-radius: 1em;
	display: inline-block;
	color: #fff;
	font-size: var(--wp--preset--font-size--small-text);
	margin-bottom: 4px;
	padding: 2px 16px;
	text-decoration: none;
	white-space: nowrap;
}

a.tag-plain:hover {
	text-decoration: underline;
}

.tag-bubble.featured-tag {
	background: var(--wp--preset--color--ramp-green);
	font-size: var(--wp--preset--font-size--small-text);
	text-transform: uppercase;
}

.research-topic-tags a {
	margin-right: 8px;
}

/** Teasers */
.teaser {
	display: flex;
	gap: 16px;
}

.item-type-list-flex .teaser {
	flex-direction: column;
	height: 100%;
}

.teaser-thumb img {
	max-width: 100%;
}

.item-type-tag {
	font-weight: 700;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.teaser.featured-article-teaser {
	flex-direction: column;
}

.research-review-teaser-thumb {
	flex: 0 0 30%;
}

/* Profiles */
.profile-teaser-avatar {
	background-color: var(--wp--preset--color--light-grey);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	overflow: hidden;
	height: 196px;
	width: 196px;
}

.profile-teaser-avatar.has-default-avatar {
	background-image: url(../img/default-avatar.png);
	background-size: 48px 48px;
	background-position: center center;
}

.profile-teaser-avatar > img {
	object-fit: cover;
	width: 196px;
}

.profile-teaser .profile-teaser-name h3 {
	margin-bottom: 8px;
}

.sortable-multi-select-selected-items {
	margin-top: 10px;
}

.sortable-multi-select-item {
	align-items: center;
	border: 1px solid #222;
	border-radius: 2px;
    background-color: #f5f5f5;
	display: flex;
	gap: 12px;
	margin-bottom: 5px;
	padding: 6px 12px 6px 6px;
	width: 100%;
}

.sortable-multi-select-item-hover {
	background-color: #ddd;
}

.sortable-multi-select-item-handle {
	cursor: grab;
	width: 100%;
}

.profile-selector-clear-selected,
.sortable-multi-select-item-remove {
	background: transparent;
	border: 1px solid transparent;
	border-radius: 2px;
	color: rgba( 256, 0, 0, 1 );
	height: 28px;
	flex: 0 0 28px;
	position: relative;
	width: 28px;
}

.profile-selector-clear-selected:after,
.sortable-multi-select-item-remove:after {
	content: "\00D7";
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.profile-selector-clear-selected:hover,
.sortable-multi-select-item-remove:hover {
	border-color: #ccc;
	color: rgba( 256, 0, 0, .7 );
}

.profile-selector-selected {
	align-items: center;
	display: flex;
}

.load-more-button {
	margin-top: 72px;
}

.ramp-icon path {
	fill: #222;
}

.is-pressed .ramp-icon path {
	fill: #fff;
}

.sidebar-section {
	border-top: 1px solid var(--wp--preset--color--medium-grey);
	padding: 24px;
}

.sidebar-section:last-child {
	border-bottom: 1px solid var(--wp--preset--color--medium-grey);
}

.editor-styles-wrapper h3.sidebar-section-title,
.sidebar-section-title {
	color: var(--wp--preset--color--ramp-green);
	font-size: var(--wp--preset--font-size--h-6);
	margin-top: 0;
	text-transform: uppercase;
}

/* Collapsible sections */
.sidebar-section-collapsible {
	position: relative;
}

.sidebar-section-collapsible h3.sidebar-section-title {
	padding-right: 32px;
}

.sidebar-section-collapsible.section-closed h3.sidebar-section-title {
	color: var(--wp--preset--color--almost-black);
	margin-bottom: 0;
}

.section-toggle {
	background-color: transparent;
	background-size: 20px 20px;
	border: none;
	height: 20px;
	position: absolute;
	top: 24px;
	right: 24px;
	width: 20px;
}

.section-open .section-toggle {
	background-image: url(../img/toggle-close.png);
}

.section-closed .section-toggle {
	background-image: url(../img/toggle-open.png);
}

.section-closed .section-content {
	display: none;
}

/* Select2 overrides */
body.admin-bar .select2-dropdown--below,
body.admin-bar .select2-dropdown--above {
	margin-top: 32px;
}

.select2-container .select2-selection--single {
	border-radius: 0;
	height: 51px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 51px;
	padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 50px;
	width: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:after {
	background-image: url(../img/expand-more.png);
	background-position: center right 20px;
	background-repeat: no-repeat;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border: 0;
}

.select2-results__option {
	padding: 6px 20px;
}

.select2-dropdown {
	border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #fff;
	color: var(--wp--preset--color--ramp-green);
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background: #fff;
}
