.directory-filters {
	margin-bottom: 24px;
}

.directory-filter-form {
	background: var(--wp--preset--color--light-grey);
	display: flex;
	gap: 24px;
	padding: 12px 24px;
}

.directory-filter {
	align-items: center;
	display: flex;
	gap: 24px;
}

.directory-filter input,
.directory-filter select {
	background: var(--wp--preset--color--white);
	border: 1px solid #ABB8C3;
	font-size: var(--wp--preset--font-size--small);
	padding: 12px 20px;
}

.directory-filter select {
	padding-left: 16px;
}

body .directory-filter .select2-container--default .select2-selection--single {
	height: 32px;
}

body .directory-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 32px;
}
body .directory-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 32px;
}

.directory-filters-submit  {
	margin-left: auto;
}

input.search-input {
	background-image: url('../img/search-magnifying-glass.png');
	background-position: left 20px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	padding-left: 58px;
}

.directory-filters-submit input.mw-button {
	font-size: 12px;
	line-height: 28px;
	padding-left: 52px;
	padding-right: 52px;
}

.directory-filter-toggle {
	display: none;
}

@media (max-width: 767px) {
	.directory-filters-container {
		background: #eaeaea;
		margin:30px 0px 20px 0px;
	}

	.directory-filter-toggle {
		color: #fff;
		padding: 13px 24px;
		text-transform: uppercase;
	}

	.directory-filter-toggle h3 {
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		text-transform: uppercase;
	}

	.directory-filter-toggle button {
		background-color: inherit;
		border: none;
		padding: 0;
	}

	.directory-filter select {
		width: 100%;
	}

	.directory-filter-toggle {
		display: block;
		cursor: pointer;
		background-image: url('assets/mw-icon-arrow-up.svg');
		background-repeat: no-repeat;
		background-size: 13px;
		background-position: right 24px center;
	}

	.no-js .directory-filter-toggle {
		display: none;
	}

	.directory-filters-container.toggle-closed .directory-filters {
		display: none;
	}

	.toggle-closed .directory-filter-toggle {
		background-image: url('assets/mw-icon-arrow-down.svg');
	}

	.directory-filters label {
		font-weight: 600;
	}

	/* Yikes */
	.directory-filters label > span {
		display: none;
	}

	.directory-filter {
		display: block;
		margin-bottom: 0px;
		width: 100%;
		padding:0 32px 0 0;
	}

	.directory-filters {
		padding: 18px 24px 24px 24px;
	}

	.directory-filters label,
	.directory-filters select {
		display: block;
		width: 100% !important;
	}

	.directory-filters .select2-container {
		width: 100% !important;
	}

	.directory-filters label {
		line-height: 1em;
		margin-bottom: 12px;
		display: none;

	}
	.directory-filter-legend {
		display:none;
	}
	.directory-filters-submit {
		padding-top: 0px;
		position: relative;
		right: auto;
		top: auto;
	}
}
