.directory-filter-form {
	align-items: center;
	background: var(--wp--preset--color--light-grey);
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: space-between;
	padding: 12px 24px;
}

.directory-filter {
	align-items: center;
	display: flex;
	gap: 24px;
}

.directory-filter-research-topic {
	flex-basis: 250px;
}

.directory-filter-subtopic {
	flex-basis: 240px;
}

.directory-filter input,
.directory-filter select {
	background: var(--wp--preset--color--white);
	border: 1px solid #ABB8C3;
	font-size: var(--wp--preset--font-size--body-text);
	padding: 0 20px;
	height: 51px;
}

.directory-filter select {
	padding-left: 16px;
}

.directory-filter-form > div.directory-filters-submit  {
	flex: 0;
	margin-left: auto;
}

.directory-filter-form > div.filter-by-legend {
	flex: 0;
	white-space: nowrap;
}

.directory-filter-form .select2-container--default .select2-selection--single .select2-selection__rendered {
	max-width: calc(100% - 60px);
}

.directory-filters-submit input.mw-button {
	font-size: 12px;
	line-height: 28px;
	padding-left: 52px;
	padding-right: 52px;
}

.directory-filter-toggle {
	display: none;
}

@media (max-width: 767px) {
	.directory-filter-form {
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 12px;
	}

	.directory-filter-form > div.filter-by-legend {
		margin-top: 18px;
	}

	.directory-filter-form > div.directory-filters-submit  {
		margin-left: 0;
	}

	.directory-filter {
		display: flex;
		width: 100%;
	}

	.directory-filter input,
	.directory-filter select {
		width: 100%;
	}

	.directory-filter-subtopic,
	.directory-filter-research-topic {
		flex-basis: 0;
	}

	.directory-filters label {
		font-weight: 600;
	}

	/* Yikes */
	.directory-filters label > span {
		display: none;
	}

	.directory-filters label,
	.directory-filters select {
		display: block;
		width: 100% !important;
	}

	.directory-filters label {
		line-height: 1em;
		margin-bottom: 12px;
		display: none;

	}
	.directory-filter-legend {
		display:none;
	}
	.directory-filters-submit {
		padding-top: 0px;
		position: relative;
		right: auto;
		top: auto;
	}
}
