@import './block.scss';

.wp-block-ramp-profile-vital-link {
	.ramp-profile-vital-link-text.has-placeholder {
		opacity: .7;
		text-decoration: none;
	}

	.profile-vital-link-edit {
		.components-base-control__field {
			margin-bottom: 0; /* Override an automatic Block Editor style */
		}
	}
}

.edit-post-visual-editor .wp-block-ramp-profile-vital-link .components-button {
	font-size: var(--wp--preset--font-size--body-text);
	padding-left: 0;
}

