.item-type-list-citations {
	& > li {
		margin-bottom: 48px;
	}

	&.has-row-rules {
		& > li {
			border-bottom: 1px solid var(--wp--preset--color--neutral);
			padding-bottom: 48px;
			padding-top: 48px;
		}
	}
}

.citation-teaser {
	h3 {
		margin-top: 0;
	}

	.research-topic-tags {
		margin-bottom: 10px;
	}
}

