.wp-block-research-amp-the-events-calendar {
	.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
		padding: 0 0;
	}

	.tribe-events .tribe-events-c-events-bar__search-container {
		background: transparent;
	}

	.tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-c-events-bar {
		background: var(--wp--preset--color--light-grey);
		border: none;
		padding: 0 24px;
		height: 75px;
	}

	.tribe-events .tribe-events-c-events-bar .tribe-common-form-control-text__input {
		background: white;
		border: 1px solid var(--wp--preset--color--medium-grey);
		height: 51px;
		line-height: 51px;
		padding: 0 20px 0 58px;
		max-width: 600px;

		background-image: url(../../../img/search-magnifying-glass.png);
		background-position: left 20px center;
		background-repeat: no-repeat;
		background-size: 24px 24px;
	}

	.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-control-icon-svg {
		display: none;
	}

	.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__content {
		background: transparent;
	}

	.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item:focus, .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item:focus-within, .tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector__list-item:hover {
		background: var(--wp--preset--color--medium-grey);
	}

	.tribe-events .tribe-events-c-search__button {
		background: var(--wp--preset--color--ramp-green);
		border-radius: 0;
	}

	.tribe-events .tribe-events-c-search__button:hover {
		background: var(--wp--preset--color--ramp-green-desaturated);
	}

	.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--tabs .tribe-events-c-view-selector__list-item--active .tribe-events-c-view-selector__list-item-link:after {
		background-color: var(--wp--preset--color--ramp-green);
		height: 3px;
	}
}
