.wp-block-research-amp-changelog {
	color: var(--wp--preset--color--dark-grey);
	padding-top: 48px;

	h2 {
		margin-bottom: 0;
		margin-top: 0;
	}

	ul {
		margin-top: 8px;
	}

	.changelog-header {
		border-top: 1px solid var(--wp--preset--color--neutral);
		display: flex;
		gap: 12px;
		padding-top: 24px;
	}

	.changelog-entry-date {
		margin-bottom: 8px;
	}

	.wp-block-research-amp-changelog-entry {
		ul {
			padding-left: 26px;
		}
	}

	button.changelog-show-full-log {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
		font-size: var(--wp--preset--font-size--normal);
		margin-top: 24px;
		padding: 0;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&.changelog-has-hidden-entries {
		.changelog-entry-hidden {
			display: none;
		}
	}
}
