.wp-block-ramp-changelog {
	color: var(--wp--preset--color--dark-grey);
	padding-top: 24px;

	h3 {
		margin-top: 0;
	}

	ul {
		margin-top: 8px;
	}

	.changelog-entry-date {
		margin-bottom: 8px;
	}
}
