.content-mode-selector {
	legend {
		margin-bottom: 1em;
	}

	label {
		font-weight: 700;
	}

	.content-mode-description {
		font-style: italic;
		padding-left: 20px;
	}
}

.content-mode-selector-advanced-options {
	padding-left: 20px;

	legend {
		margin-bottom: 1em;
	}

	label {
		font-weight: 700;
	}
}
