.sidebar-section.wp-block-ramp-social-buttons {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	padding-right: 0;

	&:last-child {
		border-bottom: 0;
	}

	.social-buttons-links {
		align-items: center;
		display: flex;
		gap: 16px;
		justify-content: flex-start;
		padding-bottom: 6px;
	}

	.social-button {
		background: var(--wp--preset--color--dark-grey);
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 50%;
		display: inline-block;
		height: 29px;
		width: 29px;

		&.social-button-twitter {
			background-image: url(../../../img/icon-twitter-white.png);
		}

		&.social-button-facebook {
			background-image: url(../../../img/icon-facebook-white.png);
		}

		&.social-button-download {
			background-image: url(../../../img/icon-download-white.png);
		}
	}
}
