@import './block.scss';

.sidebar-section.wp-block-ramp-social-buttons {
	.altmetrics-badge-placeholder {
		background: url(../../../img/altmetrics-placeholder.png) no-repeat;
		height: 70px;
		width: 70px;
	}
}
