.wp-block-ramp-suggested-items {
	.tag-plain.item-type-label {
		color: var(--wp--preset--color--almost-black);
	}

	.item-type-list {
		& > li {
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		h3:first-child {
			margin-top: 0;
		}
	}
}
