.teaser.featured-news-item-teaser {
	gap: 0;
}

.featured-news-item {
	margin-bottom: 64px;

	.teaser-content {
		background-color: #eee;
		padding: 32px;
	}

	.teaser-image {
		background-position: center center;
		background-size: cover;
		flex: 0 0 40%;
	}
}
